body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Hubballi", cursive;
  font-family: "Indie Flower", cursive;
  font-family: "Paprika", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Spline Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #d9ed92;
}

h2 {
  margin: 0;
}

.d-none {
  display: none;
}

.y-none {
  overflow-y: none;
}

.d-f {
  display: flex;
}

.addcomment {
  padding-bottom: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.addcomment input {
  border: none;
  padding: 0.6rem;
  border-radius: 7px;
}

header {
  background-color: #52b788;
  padding: 1rem 3rem;
  border-radius: 0 0 12px 12px;
  box-shadow: 4px 4px 12px #1b4332;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  opacity: 0.8;
  width: 93%;
}

.logo_image {
  border-radius: 50%;
  width: 8rem;
  height: 5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #081c15;
  font-size: 2rem;
  transition: all 0.3s;
}

a:hover {
  color: #d8f3dc;
}

.meal_categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-right: 4rem;
}

.meal_lists {
  height: auto;
  width: 100%;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin: 8rem 0;
  box-shadow: 4px 4px 12px #1b4332;
}

.itemConstaner {
  margin: 2rem;
  width: 85%;
  background-color: #d8f3dc;
  border-radius: 12px;
}

.items {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border-radius: 12px;
}

.likes_count {
  color: black;
  padding-top: 3rem;
}

.item {
  padding: 12px;
  background-color: #8cddb9;
  height: 40rem;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 1rem;
  transition: all 0.3s;
  overflow-y: auto;
}

.item:hover {
  background-color: #0e1813;
}

.popup {
  backdrop-filter: blur(5px);
  position: fixed;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.pop {
  width: 30rem;
  height: 30rem;
  background-color: #b7e4c7;
  position: relative;
  overflow: auto;
  align-items: center;
}

#x {
  top: 1rem;
  left: 29rem;
  position: absolute;
  z-index: 3;
}

.img {
  border-radius: 12px;
}

.meal_image {
  height: 20rem;
  width: auto;
  border-radius: 1rem;
}

.info {
  background-color: #6bb191;
  border-radius: 12px;
}

.nameAndLikes {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  overflow-y: auto;
}

.likes {
  display: flex;
  padding-left: 2rem;
  gap: 6rem;
  align-items: center;
}

.likes i {
  font-size: 1.2rem;
  color: white;
}

.mealNmae {
  font-size: 1.4rem;
  width: auto;
}

.commentsReservation {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

button {
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  color: #131313;
  background-color: #95d5b2;
  border-radius: 8px;
  transition: all 0.3s;
}

button:hover {
  background-color: #168aad;
}

footer {
  background-color: #52b788;
  color: #081c15;
  padding: 0 5rem;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
